div{
    padding: 10px;
}

.cartbut{

    background-color: cyan;
    color: black;
    border-radius: 10px;
    


}
.addcart{
    background-color: black;
    color: white;
    border-radius: 5px;
    

}
.cardcontent
{
    background-color: gray;
}

.butdiv{
    height: 45px;

}
img{
    width:400 px;
    height: 200px;
}

.search-item {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    box-shadow: 0 10px 20px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }
